* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
:root {
	--header-height: 75px;
	--nav-height: 60px;
	--page-width: 980px;
	--primary: #69bbc0;
	--holiday: rgb(240, 146, 14);
}
html {
	overflow-x: hidden;
	font: normal 100%/1.5 'Helvetica Neue', Arial, sans-serif;
}
u {
	text-decoration: none;
	border-bottom: 1px dotted #999;
}
header {
	height: var(--header-height);
	background: url(../images/header.png) no-repeat top center;
	margin-bottom: calc(1rem + var(--nav-height));
	border-bottom: 1px solid #ddd;
}
header:after {
	display: block;
	position: relative;
	top: var(--header-height);
	height: var(--nav-height);
	width: 980px;
	background: #69bbc0;
	margin: auto;
	content: "";
}
#content {
	max-width: var(--page-width);
	margin: 1rem auto;
	border-left: 1px solid #ddd;
}
#content main {
	float: right;
	width: 680px;
	margin-right: 2rem;
	padding-top: 1rem;
}
#content aside {
	float: left;
	height: 500px;
	width: 230px;
	background: url(../images/side-rail.png) no-repeat 0 -10px;
}

#calendar-alert {
	position: relative;
	background: #FEF8E7;
	margin-bottom: 1.5rem;
	padding: 1.25rem 1.35rem;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
	color: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	line-height: 1.3;
}
#calendar-alert.hide {
	display: none;
}
#calendar-alert p {
	max-width: 80%;
	margin-bottom: 0;
}
#calendar-alert a {
	color: #69bbc0;
}
#calendar-alert button {
	position: absolute;
	top: 50%;
	right: 1.25rem;
	height: 1rem;
	background: none;
	margin-top: -.125rem;
}
#calendar-alert button:after {
	color: rgba(0, 0, 0, 0.25);
	content: "\2715";
	font-size: 25px;
	line-height: 0;
}

h1 {
	margin: 0 0 1rem;
	font-size: 25px;
	font-weight: normal;
}
h1 nav {
	float: right;
	padding-top: .5rem;
	font-size: 14px;
}
h1 a {
	display: inline-block;
	margin-left: 1.25rem;
	color: var(--primary);
}
h1 .active {
	color: #999;
	cursor: default;
	text-decoration: none;
}
#calendar {
	position: relative;
	padding: 2.5rem .75rem .75rem;
	border: 1px solid #ccc;
	box-shadow: 2px 4px 5px #efefef;
}
#calendar.loading:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 6;
	height: 1rem;
	width: 5rem;
	margin-top: -.5rem;
	margin-left: -2.5rem;
	color: var(--primary);
	content: "Loading";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
#calendar.loading:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 5;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	background: white;
	content: "";
}
#calendar h2 {
	position: absolute;
	top: .75rem;
	left: 0;
	width: 100%;
	font-size: 18px;
	text-align: center;
}
#calendar nav a {
	display: block;
	position: absolute;
	top: .75rem;
	z-index: 3;
	height: 1.25rem;
	width: 1.25rem;
	background: #333 url(../images/arrow.png) no-repeat center;
	background-size: 14px;
	border-radius: 3px;
	cursor: pointer;
	text-indent: -9999px;
}
#calendar nav a:nth-of-type(1) {
	left: .75rem;
	transform: rotate(180deg);
}
#calendar nav a:nth-of-type(2) {
	right: .75rem;
}
#calendar nav a:active {
	opacity: .65;
}
#calendar nav .end-of-line {
	opacity: .25;
	cursor: default;
}
table {
	width: 100%;
	border-collapse: collapse;
}
#cal-december {
	position: relative;
}
#cal-december:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 3;
	height: 200px;
	width: 100%;
	background: url(../images/locked.png) no-repeat center;
	margin-top: -100px;
	content: "";
}
#cal-december:after {
	display: block;
	position: absolute;
	top: 2rem;
	left: 0;
	z-index: 2;
	height: calc(100% - 2rem);
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	content: "";
}
th {
	padding: .5rem 0;
	color: #666;
	font-size: 12px;
}
td {
	position: relative;
	height: 70px;
	width: calc(100% / 7);
	background: #efefef;
	box-shadow: 0 0 0 4px white inset;
}
td:before {
	display: block;
	position: absolute;
	top: .65rem;
	left: .75rem;
	content: attr(data-date);
	color: currentColor;
	font-size: 11px;
}
td:after {
	display: block;
	position: absolute;
	bottom: .75rem;
	left: 0;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
/*td:hover {
	transform: scale(1.15);
}*/
td:active {
	opacity: .65;
}
.past {
	color: transparent;
}
.past:active {
	opacity: 1;
}
.next {
	color: #999;
}

/*** v1 ***/
.unknown {
	background: white;
	box-shadow: 0 0 0 4px white inset, 0 0 0 5px #ccc inset;
	color: #666;
	cursor: pointer;
}
.unknown:after {
	color: #999;
	content: "Unknown";
	font-weight: normal;
}
.unknown:active {
	opacity: .65;
}
.next.unknown,
.prev.unknown {
	color: #ddd;
}
.next.unknown:after,
.prev.unknown:after {
	color: #999;
}

.available {
	background: #CCECF0;
	box-shadow: 0 0 0 4px white inset, 0 0 0 5px rgba(0, 0, 0, 0.125) inset;
	cursor: pointer;
}
.available:after {
	color: #0F748C;
	content: "Available";
}

.unavailable {
	background: #ccc;
	box-shadow: 0 0 0 4px white inset, 0 0 0 5px #ccc inset;
	cursor: pointer;
}
.unavailable:after {
	color: white;
	content: "Unavailable";
	font-weight: normal;
}


/*** v2, dashed ***/
.v2 .unknown {
	box-shadow: 0 0 0 4px white inset;
	color: #666;
}
.v2 .unknown span {
	display: block;
	position: relative;
	left: 4px;
	height: calc(100% - 8px);
	width: calc(100% - 8px);
	border: 1px dashed #999;
	border-radius: 2px;
}
.v2 .unknown:after {
	top: 50%;
	bottom: auto;
	height: 1rem;
	background: url(../images/dash.png) no-repeat center;
	background-size: 30px;
	margin-top: -.4rem;
	content: "";
}

/*** v3, question mark ***/
.v3 .unknown {
	box-shadow: 0 0 0 4px white inset, 0 0 0 5px #ddd inset;
	color: #666;
}
.v3 .unknown:after {
	left: 50%;
	top: 50%;
	bottom: auto;
	height: 1.5rem;
	width: 1.5rem;
	background: url(../images/question.png) no-repeat center;
	background-size: 11px;
	margin-top: -.7rem;
	margin-left: -.75rem;
	/*border: 1px solid #ddd;
	border-radius: 100%;*/
	content: "";
}


/*** v4, unavailable ***/
.v4 .unknown {
	background: #ccc;
	box-shadow: 0 0 0 4px white inset, 0 0 0 5px #ccc inset;
}
.v4 .unknown:after {
	color: white;
	content: "Unavailable";
}
.v4 .next.unknown:after,
.v4 .prev.unknown:after {
	color: white;
}

/*** holiday ***/
.holiday span {
	display: block;
}
/*.holiday span:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 1rem;
	width: 100%;
	color: red;
	content: "Thanksgiving";
	font-size: 12px;
}*/
.holiday span:after {
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 0;
	height: 3px;
	width: calc(100% - 8px);
	background: var(--holiday);
	content: "";
}
.v2 .holiday.unknown span:after {
	top: -1px;
	right: -1px;
	width: calc(100% + 2px);
	border-radius: 2px 2px 0 0;
}


.legend {
	margin-top: 1rem;
	text-align: right;
}
.legend span,
.ukn {
	display: inline-block;
	position: relative;
	margin-left: 3rem;
	font-size: 13px;
}
.legend span:before,
.ukn:before {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -1.5rem;
	height: 1rem;
	width: 1rem;
	margin-top: -.55rem;
	content: "";
}
#calendar-alert .ukn {
	width: 1rem;
	margin: 0 .1rem;
}
#calendar-alert .ukn:before {
	top: 0;
	left: 0;
	background: white;
	margin-top: -.85rem;
}
.v3 #calendar-alert .ukn:before {
	background: #ccc;
}
.av:before {
	background: #CCECF0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
}
.unav:before {
	background: #ccc;
}
.ukn:before {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
}
.hol:before {
	background: var(--holiday);
}

#info {
	position: relative;
	/*background: #FEF8E7;*/
	margin: 2rem 0;
	padding: 1.25rem 1.35rem;
	border-top: 1px solid #ccc;
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;*/
}
#info:before {
	display: inline-block;
	position: absolute;
	top: -.8rem;
	left: 50%;
	width: 2.5rem;
	background: white;
	margin-left: -1.75rem;
	padding: .25rem .5rem;
	color: #999;
	content: "FAQs";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-align: center;
	/*text-transform: uppercase;*/
}
#info h3 {
	margin-bottom: .25rem;
	font-size: 14px;
}
#info p {
	margin-bottom: 1.25rem;
	color: #666;
	font-size: 13px;
	line-height: 1.3;
}
#info p:last-of-type {
	margin-bottom: 0;
}
#modal-wrap {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	height: 100%;
	width: 100%;
	text-align: center;
}
#modal-wrapper {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
#modal-content {
	max-width: 500px;
	background: white;
	margin: auto;
	padding: 2rem;
	border-radius: 5px;
	text-align: left
}
#modal-content h3 {
	margin-bottom: 1.75rem;
	color: #2a494b;
	font-size: 25px;
	text-align: center;
}
#modal-content p,
#modal-content ul {
	max-width: 420px;
	margin: auto;
	font-size: 16px;
}
#modal-content p {
	margin-bottom: 1.75rem;
}
#modal-content p:nth-of-type(n+2) {
	margin-top: -1rem;
}
#modal-content li {
	position: relative;
	padding-left: 1.5rem;
	list-style: none;
	counter-increment: step;
}
#modal-content li:before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	color: #999;
	content: counter(step);
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.25;
}
#modal-content li + li {
	margin-top: 1rem;
}
#modal-content .cta {
	margin: 2rem -2rem 0;
	padding-top: 1.75rem;
	border-top: 1px solid #ddd;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.025);
	text-align: center;
}
#modal-content button {
	background: #ec6350;
	outline: none;
	padding: .75rem 1.5rem;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-size: 20px;
	font-weight: bold;
}
#modal-content button:active {
	opacity: .65;
}
#modal-back {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	height: 100%;
	width: 100%;
	background: rgba(68, 68, 68, 0.5);
}
#modal-wrap.hide,
#modal-back.hide {
	display: none;
}