/*h1 {
	margin-bottom: 1rem;
}*/
[data-auto="reservation-review-form"] {
	margin: 2rem 0 1rem;
}
#recommend-dogvacay {
	padding-top: .75rem;
}
#signupform label {
	display: block;
	padding: 0;
	cursor: default;
}
#signupform label b {
    font-size: 17px;
    line-height: 1.2;
}
#signupform label br {
	display: none;
}
#signupform label i {
	display: block;
	padding: .25rem 0 .75rem;
	font-style: normal;
	line-height: 1.4;
}
#content hr {
	color: #888;
    height: 0;
    padding: 5px 0;
    border: 0;
}
#content h2 {
	background: none;
	padding-left: 0;
	color: #999;
	font-family: "Helvetica Neue", sans-serif;
    font-size: 27px;
    letter-spacing: normal;
}
#content h3 {
	font-size: 17px;
}
#content h3, #content b {
	color: #111;
}
#content h3 + p {
	margin: .25rem 0 1rem;
	color: #111;
	font-size: 13px;
	line-height: 1.2;
}

#content .dv-review-list {
	margin: 0 0 0 -2px;
	padding: 0;
}
#content .dv-review-list label {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
	list-style: none;
}
#content .dv-review-list input {
	position: absolute;
	left: -9999px;
}
#content .dv-review-list span {
	display: inline-block;
	position: relative;
	height: 30px;
	width: 30px;
	background: url(/pug/img/corp/lander/walking-howitworks/star.png) no-repeat center;
	background-size: 30px;
  cursor: pointer;
}
#content .dv-review-list span:active {
  opacity: .65;
}
#content .dv-review-list .active {
  cursor: default;
}
#content .dv-review-list .active:active {
  opacity: 1;
}
#content .dv-review-list span:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: white;
	opacity: .75;
	content: "";
  transition: background .25s ease-in-out;
}
#content .dv-review-1-star label:nth-child(-n+1) span:before,
#content .dv-review-2-star label:nth-child(-n+2) span:before,
#content .dv-review-3-star label:nth-child(-n+3) span:before,
#content .dv-review-4-star label:nth-child(-n+4) span:before,
#content .dv-review-5-star label:nth-child(-n+5) span:before {
	background: transparent;
}
#content .dv-review-list.has-error,
#public-note-container.has-error {
	position: relative;
}
#content .dv-review-list.has-error:after,
#public-note-container.has-error:after {
	display: block;
	margin-top: .5rem;
	color: red;
	font-size: 13px;
	content: "Please rate this section.";
}
#public-note-container.has-error:after {
	margin: 0 0 .5rem;
	content: "Please add your review of " attr(data-host-name);
}
#public-note-container.has-error textarea {
	border-color: red;
}