#dv-checkable.complete {
	display: block;
	margin: 0 -30px;
	padding: 0 45px 20px;
	border-bottom: 1px solid #E8E5E0;
}
#dv-checkable.complete:before {
	top: 2px;
	left: 20px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAaCAMAAADsW95KAAABLFBMVEUAAAD///+AgIBVVVVAgIArVVVAYGA5VVUuXV07Tk4wUFAtS0srVVU2UVEzTU0uUVEsTk4xTk4uUlIxSlItS0ssUFArTk4uTk4tSk8rSlAvTk4tS0srTEwuS0srS04uTEwtS0srS0srSk4tTEwtSk0tSU0rTEwsSk0rS0sqTEwsS04rSk0rS0srS00rSUwsSk0rSkwsS00rS00rSUssSkwqSUsrSkwrSkwrS0wrSkwqSUwrSkwrSkwqSksqSkwqSksrSUwqSksrSkwqSkwrSUwrSksrSkwrSksqSUwqSUwrSksqSUwrSUwrSUwrSUsrSksqSksrSUwqSUwrSksrSkwrSUwqSkwrSkwqSUsqSkwrSUwrSUsqSUsqSUsrSkwrSUsrSkwqSkwqSUsqSUuERizbAAAAY3RSTlMAAQIDBAYICQsNEBESExQWFxocHyIjJCctMDEzNj1BQ0RHSEpPUFRWWFtcZGZqbG5ye4KEhouNlJqbnaGoqa+wsru9wsPFyczNztLU2Nvc3eDi5efo6evv8fLz9Pf4+fr8/f6GlcwcAAAA80lEQVR4AYXT5VpCQRjE8UEEBTvE7g5EERW7u8EOBeb+70EB53DQs8vv4/v899M+A7ux9IoPFc1myM0AKlhk3l4INlWrLDqph1lgizINo9A+ZaMaJs1nlGUfTDquFeUWYNRzr+prBo7RRC3cBl9UvQ3DEc3yuBElk5+qHvvgiPPHZRtkPqvqthPiT7Ig1YWiJcp5CxwxHZ/6C6/WKAdhlETudH4fB4I7lO0g3Fov+CszFz6kJP0oV3dESVHi+Kdml39ko/DgX2eZjwl4S9DleQAmsRwl3Q2zKf3QVTtshl6Zd9oEu94H7cMucqO12TWM+ODtG8sYcubjM866AAAAAElFTkSuQmCC) no-repeat center;
	background-size: 100%;
	height: 18px;
	width: 18px;
	content: "";
}
#dv-checkable-buttons {
	padding-top: 5px;
}
#dv-checkable-buttons button {
	position: relative;
	background: white;
	outline: none;
	padding: .2rem .75rem .25rem;
	border: 1px solid #0f748c;
	border-radius: 4px;
	color: #0f748c;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	font-family: inherit;
}
#dv-checkable-buttons button:active,
#dv-checkable-buttons button:focus {
	background: #0f748c;
	color: white;
}
#dv-checkable-buttons button:nth-of-type(2) {
	margin-left: 20px;
}
#dv-checkable-buttons button:disabled {
	cursor: default;
	opacity: .25;
}
#dv-checkable-buttons button.selected:disabled {
	opacity: 1;
}
#dv-checkable-buttons button.selected:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    height: 1rem;
    width: 1rem;
    margin-top: calc(-.5rem - 1px);
    margin-left: calc(-.5rem - 1px);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    content: "";
    animation: rotate .75s infinite linear;
}
#dv-checkable-buttons button.selected:after {
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #0f748c;
    margin-top: 0;
    border-radius: 2px;
    content: "";
}
#dv-checkable-microcopy {
	display: none;
	font-size: 16px;
}
#dv-checkable-microcopy.show {
	display: block;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}