body {
    max-width: 100% !important;
	font-family: "Helvetica Neue", Arial, sans-serif !important;
}
.dv-header__content {
	text-align: center;
}
.dv-nav {
	display: none !important;
}
.dv-header__left-content {
	float: none;
    width: 100%;
    padding: 0;
}
.dv-site-banner {
	margin: auto;
}
.dv-logo__img {
	height: 25px;
	width: 144px;
	background-size: contain;
}
.dv-profile-booking-cta:nth-of-type(n+2) {
	display: none;
}
#dv-header div:nth-child(1) {
	margin: auto;
}

#dv-cta .dv-button {
	padding: .5rem 0 !important;
	font-family: "Helvetica Neue", Arial, sans-serif !important;
	font-size: 20px !important;
	line-height: 1.5 !important;
	transition: none !important;
}
#dv-cta .dv-input-date__picker {
	padding: .75rem;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #efefef inset;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; !important;
	font-size: 16px;
}
#dv-cta .dv-input-date__picker::-webkit-input-placeholder,
#dv-cta .dv-input-date__picker:-moz-placeholder,
#dv-cta .dv-input-date__picker::-moz-placeholder,
#dv-cta .dv-input-date__picker:-ms-input-placeholder {
	color: #777;
}
#dv-cta .dv-input-date .dv-icon {
	left: auto;
	right: 1rem;
	margin: .85rem 0 0 .75rem;
	color: #999;
}
.dv-selected-service-rate {
	display: none;
}
#dv-cta .dv-booking-section {
	margin-bottom: 15px;
}
#dv-cta .dv-free-cancellation {
	display: block;
	padding-top: 10px;
	color: #777;
	font-size: 13px;
	line-height: 1;
	text-align: left;
}
#dv-cta h1 {
	margin: 0 0 15px;
	font-size: 24px;
	text-align: left;
}
#dv-cta h1 span {
	color: #777;
	font-size: 17px;
    font-weight: normal;
}
.cal-1 .fine-print {
	display: none !important;
}
#dv-cta-wrapper,
[data-profile-reservation] {
	padding: 0 20px;
}

#dv-content-wrapper-outer {
	min-height: 100%;
	height: auto;
	background: white;
}

@media screen and (min-height: 600px) {
	#dv-content {
		margin-top: 50px;
	}
	#dv-content-wrapper-outer {
		min-height: calc(100% - 56px);
	}
}

@media screen and (min-height: 780px) {
	#dv-content {
		margin-top: 100px;
	}
}

@media screen and (min-height: 740px) {
	#dv-content-wrapper-outer {
		height: calc(100% - 56px);
		min-height: calc(100% - 56px);
	}
}

@media screen and (min-width: 350px) and (min-height: 800px) {
	#dv-content {
		margin-top: 0;
	}
}

@media screen and (min-width: 415px) {
	#dv-cta-wrapper,
	[data-profile-reservation] {
		max-width: 320px;
		margin: auto;
	}
}

@media screen and (min-width: 702px) {
	#dv-content-wrapper-outer {
		position: relative;
	    overflow-x: hidden;
	    max-width: 700px;
	    margin: auto;
	    border-left: 1px solid #E8E5E0;
	    border-right: 1px solid #E8E5E0;
	}
}