* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
:root {
	--header-height: 75px;
	--nav-height: 60px;
	--page-width: 980px;
	--primary: #69bbc0;
	--secondary: #ec6350;
	--tertiary: #0f748c;
	--holiday: rgb(240, 146, 14);
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
html {
	background: #efefef;
	font: normal 100%/1.5 'Helvetica Neue', Arial, sans-serif;
}
html, body {
	height: 100%;
}
h1, h2, h3 {
	font-weight: normal;
}
#map-wrapper {
	height: 100%;
	overflow: auto;
	/*background: rgba(255, 255, 0, 0.25);*/
}
#map {
	position: relative;
	height: 150%;
	width: 200%;
	background: #FAF4D9;
	/*background: url(../images/map.gif) no-repeat;
	background-size: cover;*/
}

.search-result {
	display: inline-block;
	position: absolute;
	top: 50vh;
	left: 200px;
	height: 1.5rem;
	width: 1.5rem;
	background: var(--primary);
	border-radius: 100%;
}

#search-result-content {
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 5;
	height: 100%;
	width: 100vw;
	background: white;
	padding: 1.5rem;
	border-top: 5px solid var(--primary);
	transition: top .25s ease-in-out;
}
#search-result-content.unfixed {
	position: relative;
}
#search-result-content.show {
	top: 0;
}

#instant-book {
	position: relative;
	background: #FEF8E7;
	margin: -1.5rem -1.5rem 1.5rem;
	padding: .75rem .5rem .75rem 3rem;
	/*border-top: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);*/
	/*text-align: center;*/
}
#instant-book:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 1.5rem;
	height: 1rem;
	width: 1rem;
	background: url(../images/instant-book.png) no-repeat center;
	background-size: 18px;
	margin-top: -.5rem;
	border-radius: 100%;
	content: "";
}

#search-result-image {
	float: left;
	width: 25%;
}
#search-result-image img {
	max-width: 100%;
	border-radius: 3px;
}
#search-result-name {
	float: right;
	width: 65%;
	padding-top: .6rem;
}
#search-result-name h1, #search-result-name h2 {
	line-height: 1.3;
}
#search-result-name h1 {
	color: var(--primary);
	font-size: 20px;
	font-weight: normal;
}
#search-result-name h2 {
	font-size: 18px;
	font-weight: normal;
}
#search-result-content hr {
	clear: both;
	height: 3px;
	background: #efefef;
	margin: 1rem -1.5rem;
	/*padding-top: 1rem;*/
	/*border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
}
#search-result-content hr:last-of-type {
	height: 1px;
	margin-bottom: 0;
}
h3 {
	color: #999;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
p {
	line-height: 1.35;
}
.link {
	margin-top: .75rem;
	font-size: 13px;
	/*text-align: center;*/
}
.link a {
	color: #0f748c;
}
li {
	position: relative;
	margin-top: .25rem;
	list-style: none;
}
.hidden {
	display: none !important;
} 
/*li img {
	max-height: 1.5rem;
}*/
/*.pricing li:after {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: -2px;
	border-bottom: 1px dotted #ddd;
	content: "";
}*/
.icons li {
	margin-top: .5rem;
	padding-left: 1.5rem;
}
.icons li:before {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	height: 1rem;
	width: 1rem;
	background: #efefef;
	margin-top: -.5rem;
	/*border: 1px solid #ddd;*/
	border-radius: 100%;

	content: "";
}
li span {
	float: right;
}
li em {
	display: inline-block;
	padding-left: .25rem;
	color: #999;
	font-size: 11px;
	font-style: normal;
}
.covered {
	position: relative;
	height: 7rem;
	overflow: hidden;
	margin-bottom: 5rem;
	padding-top: .5rem;
}
.covered figure {
	float: left;
	max-height: 2rem;
	max-width: 2rem;
	padding-top: .25rem;
	/*margin: 0 1.5rem 1.5rem 0;*/
}
.covered img {
	display: block;
	max-width: 100%;
	border-radius: 2px;
}
.covered small {
	display: block;
	position: relative;
    z-index: 10;
	padding-top: .25rem;
	color: #999;
	font-size: 12px;
	line-height: 1.15;
	text-align: center;
}
.covered strong {
	display: inline-block;
	margin-right: .075rem;
	color: var(--primary);
	font-size: 14px;
}
.covered p {
	float: right;
	width: calc(100% - 3rem);
}
/*.covered:before {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	color: #666;
	content: "More reviews on my profile";
	font-size: 11px;
	text-align: right;
}*/
.covered:after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 4;
	height: 75%;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, white 100%);
	content: "";
}
#search-cta {
	position: fixed;
	bottom: -100%;
	left: 0;
	z-index: 6;
	width: 100%;
	background: white;
	padding: 1rem 1.5rem;
	border-top: 1px solid #ddd;
	/*border-bottom: 1px solid #ddd;*/
	/*box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);*/
	transition: bottom .25s ease-in-out;
}
#search-cta:before {
	display: block;
	position: absolute;
	bottom: 100%;
	left: 0;
	z-index: 7;
	height: 10px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
	margin-bottom: 1px;
	content: "";
}
#search-cta.showing {
	bottom: 0;
}
#search-cta a {
	display: block;
	float: left;
	width: calc(80% - 1rem);
	background: #ec6350;
	padding: .75rem 0;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#search-cta button {
	display: block;
	/*display: none;*/
	float: right;
	width: calc(20% - 1rem);
	background: none;
	/*margin-top: .4rem;*/
	padding: .5rem 0;
	color: #999;
	font-family: inherit;
	font-size: 23px;
	/*font-weight: bold;*/
	text-align: center;
}
#search-cta button:before {
	content: "\2715";
}




/**** idx stuff ****/
#idx header {
	height: 60px;
	background: white;
	border-bottom: 3px solid var(--primary);
}
/*#idx form {
	position: relative;
	opacity: .5;
	height: 180px;
	background: #efefef;
	border-bottom: 1px solid #ddd;
}*/
/*#idx form:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	height: 1rem;
	width: 100%;
	margin-top: -.5rem;
	color: #ccc;
	content: "form UI";
	text-align: center;
}*/
form {
	background: white;
	padding: 1.25rem 0;
	border-bottom: 1px solid #ccc;
}
label {
	display: block;
	padding: 0 .75rem;
}
.half {
	padding: 0 .75rem;	
}
.half label {
	float: left;
	width: 50%;
	padding: 0;
}
select, input {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	background: white;
	padding: .65rem .75rem;
	border: 1px solid var(--primary);
	border-radius: 3px;
	box-shadow: 0 2px 0 #efefef inset;
	font-family: inherit;
	font-size: 16px;
}
/*select:active, input:active {
	opacity: .65;
}*/
select {
	background: url(https://cdn1.iconfinder.com/data/icons/material-core/10/arrow-drop-down-48.png) no-repeat calc(100% - .75rem) calc(100% - 14px);
	background-size: 14px;
}
.half input {
	border-radius: 3px 0 0 3px;
}
.half label:nth-of-type(2) input {
	position: relative;
	left: -1px;
	width: calc(100% + 2px);
	border-radius: 0 3px 3px 0;
}
#idx hr {
	background: none;
	height: .75rem;
	margin: 0;
}
/*#form {
	display: block;
	max-width: 100%;
	margin: .25rem 0;
}*/
#results img {
	display: block;
	width: 100%;
}
/*#results div {
	position: relative;
	height: 238px;
	background: url(../images/card.png) no-repeat center;
	background-size: 100%;
}
.new #results div {
	height: 197px;
	background-image: url(../images/new-card.png);
}*/
/*#results div:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	height: 1rem;
	width: 100%;
	margin-top: -.5rem;
	color: #ccc;
	content: "Host card UI";
	text-align: center;
}*/

.sticky-pad {
	padding-top: 64px;
}
.map .sticky-pad {
	padding-top: 0;
}

.hide {
	display: none !important;
}

#toggle {
	background: white;
	padding: .75rem;
	/*border-top: 1px solid #ddd;*/
	border-bottom: 1px solid white;
	/*position: fixed;
	bottom: -50%;
	left: 0;
	width: 100%;
	padding: 0 1.5rem 1.5rem;
	transition: bottom .25s ease-in-out;*/
}
#toggle.sticky {
	/*bottom: 0;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	/*border-top-color: white;*/
	border-bottom-color: #ccc;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	/*padding: 0 1.5rem 1.5rem;*/
	/*transition: bottom .25s ease-in-out;*/
}

#toggle button {
	display: inline-block;
	position: relative;
	/*float: left;*/
	/*width: 50%;*/
	background: white;
	/*background: var(--secondary);*/
	padding: .5rem .7rem .5rem 2rem;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	/*color: white;*/
	font-family: inherit;
	font-size: 16px;
}
#toggle button:nth-of-type(1) {
	padding-left: 1.75rem;
}
#toggle button.is-map {
	padding-left: 2rem;
}
#toggle button:before {
	display: block;
	position: absolute;
	top: 50%;
	left: .5rem;
	height: 22px;
	width: 20px;
	margin-top: -11px;
	content: "";
}
#toggle button:nth-of-type(1):before {
	background: url(../images/map.png) no-repeat center;
	background-size: 50%;
}
#toggle button.is-map:before {
	background-image: url(../images/list.png);
	background-size: 15px;
}
#toggle button:nth-of-type(2):before {
	background: url(../images/filters.png) no-repeat center;
	background-size: 15px;
}
#toggle button:nth-of-type(2) {
	float: right;
}
#toggle button:disabled {
	background: #ddd;
	color: #999;
}

#map-view {
	position: relative;
	height: 100%;
	/*width: 200%;*/
	background: url(../images/map.gif) repeat-y center;
	background-size: 200%;
	overflow-y: hidden;
}
/*#map-view.no-scroll {
	width: 100%;
}*/

.pin {
	position: absolute;
	top: 50vh;
	left: 35vw;
	height: 32px;
	width: 24px;
}
@media screen and (min-height: 569px) {
	.pin {
		transform: scale(1.25);
	}
}
.p2 {
	top: 20vh;
	left: 15vw;
}
.p3 {
	top: 40vh;
	left: 85vw;
}
.p4 {
	top: 60vh;
	left: 25vw;
}
.pin:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: url(../images/pin.png) no-repeat 0 0;
	background-size: 48px;
	content: "";
}
.pin.active:before {
	background-position: -24px 0;
}
.pin:after {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 0;
	height: 1px;
	width: calc(100% - 50%);
	background: rgba(0, 0, 0, 0.15);
	margin-top: -2px;
	margin-left: 25%;
	border-radius: 2px;
	filter: blur(.5px);
	content: "";
}
.card {
	display: none;
	position: absolute;
	top: 50%;
	left: 2rem;
	z-index: 4;
	opacity: 0;
	height: 10rem;
	width: calc(100% - 4rem);
	background: white;
	margin-top: calc(-5rem + 32px);
	border-top: 8px solid var(--tertiary);
	/*border: 1px solid rgba(0, 0, 0, 0.15);*/
	border-radius: 3px;
	/*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	transform: scale(0.95);
}
.no-results {
	height: auto;
	padding: 2rem;
	border-top: none;
	text-align: center;
}
.no-results p {
	margin-top: .5rem;
}
.no-results a {
	color: var(--primary);
}
/*@media screen and (min-height: 569px) {
	.card {
		transform: scale(1.15);
	}
}*/
/*.card:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: var(--tertiary);
	border-radius: 2px 2px 0 0;
	content: "";
}*/
.card.show {
	display: block;
	opacity: 1;
	transform: scale(1);
	animation: fadeIn .25s ease-in-out;
}
.card.show.outro {
	/*display: none;
	opacity: 0;
	transform: scale(0.95);*/
	animation: fadeOut .15s ease-in-out;
}
.card-cta {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	padding: .55rem;
	border-top: 1px solid #ddd;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
}
.card-cta a {
	display: inline-block;
	background: var(--secondary);
	padding: .5rem 1rem;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	color: white;
	text-decoration: none;
}
.card-cta button {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: .75rem;
	height: 30px;
	width: 30px;
	background: url(../images/x.png) no-repeat center;
	background-size: 22px;
	margin-top: -15px;
}
.card-host {
	padding: .75rem;
}
.card-host h4,
.card-host h5 {
	margin: 0;
	line-height: 1.2;
}
.card-host h4 {
	font-size: 17px;
}
.card-host h5 {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
}
.card-image {
	float: left;
	width: calc(60px + .5rem);
}
.card-stars {
	position: relative;
	left: -1px;
	height: 12px;
	width: 60px;
	background: url(../images/stars.png) repeat-x;
	background-size: 12px;
	margin: .2rem 0;
}
.card-reviews,
.card-repeats {
	font-size: 12px;
	line-height: 1.2;
}
.card-repeats {
	margin-top: .1rem;
}
.card-repeats:before {
	display: inline-block;
	position: relative;
	top: 1.5px;
	height: .75em;
	width: .75em;
	/*background: var(--primary);*/
	margin-right: .35em;
	border: 1px solid var(--primary);
	border-radius: 100%;
	content: ""
}
.card-image img {
	max-width: 100%;
	border-radius: 4px;
}
.card-host-details {
	position: relative;
	float: right;
	width: calc(100% - (60px + 1rem));
}
.card-pricing {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 27px;
	line-height: 1;
}
.card-pricing:before {
	position: absolute;
	top: 0;
	left: -.65rem;
	content: "$";
	font-size: 17px;
}
.card-pricing:after {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	content: "night";
	color: #999;
	font-size: 12px;
	text-align: center;
}
/*.card-cta button:before {
	display: inline-block;
	height: 1.2rem;
	color: #999;
	content: "\2715";
	font-size: 30px;
	line-height: 0;
}*/
/*@media screen and (min-height: 569px) {
	.card {
		height: 10rem;
		margin-top: -5rem;
	}
}*/

#redo-search {
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	width: 100%;
	text-align: center;
}
#redo-search button {
	background: var(--primary);
	padding: .6rem 1rem;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-size: 16px;
}

#filters {
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 5;
	height: 100vh;
	width: 100vw;
	background: white;
	transition: top .45s ease-in-out;
}
#filters.show {
	top: 0;
}
#filters.static {
	position: absolute;
	height: 100vh;
}
#filters h4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	padding: 1.275rem 0 1.275rem 1rem;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	text-align: center;
}
#filters button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	background: var(--secondary);
	padding: .6rem .75rem;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-size: 16px;
}

#loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	height: 100vh;
	width: 100vw;
	background: rgba(255, 255, 255, 0.5);
}
#loading:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 0;
	background: var(--primary);
	content: "";

	animation: fullWidth .85s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		display: block;
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fadeOut {
	0% {
		display: block;
		opacity: 1;
		transform: scale(1);
	}
	100% {
		display: none;
		opacity: 0;
		transform: scale(0.95);
	}
}
@keyframes fullWidth {
	0% {
		width : 0;
	}
	100% {
		width : 110vw;
	}
}