#dv-availability {
  position: relative;
	margin: 0 -20px 20px;
    padding: 0 20px 30px;
    border-bottom: 1px solid #dfe4e5;
}
#dv-availability h3 {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: bold;
}
#dv-days-of-week {
  max-width: 653px;
}
.dv-day-of-week {
  display: block;
  float: left;
  width: calc(100% / 7);
  cursor: pointer;
  font-size: 13px;
  text-align: center;
}
.dv-day-of-week:nth-of-type(n+2) {
  margin-left: -1px;
}
.dv-day-of-week-input {
  position: absolute;
  left: -9999px;
}
.dv-day-of-week-check {
  display: block;
  position: relative;
  margin-top: 4px;
  padding: 1.1rem 0;
  border: 1px solid #69bbc0;
}
.dv-day-of-week:first-of-type .dv-day-of-week-check {
  border-radius: 4px 0 0 4px;
}
.dv-day-of-week:last-of-type .dv-day-of-week-check {
  border-radius: 0 4px 4px 0;
}
.dv-day-of-week-check:before,
.dv-day-of-week-check:after {
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  z-index: 1;
  height: 18px;
  width: 18px;
  margin-top: -9px;
  margin-left: -9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  content: "";
}
.dv-day-of-week-check:after {
  opacity: 0;
	top: 1px;
	z-index: 2;
	height: calc(100% - 2px);
	margin-top: 0;
  background: white url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkmark-24-48.png) no-repeat center;
  background-size: 18px;
  border-color: transparent;
  /* transition: opacity .25s ease-in-out; */
}
.dv-day-of-week-input:checked + .dv-day-of-week-check {
  box-shadow: 0 0 0 1px #69bbc0 inset;
}
.dv-day-of-week-input:checked + .dv-day-of-week-check:after {
  opacity: 1;
  /* visibility: visible; */
}
/* .dv-day-of-week:active .dv-day-of-week-check:before,
.dv-day-of-week:active .dv-day-of-week-input:checked + .dv-day-of-week-check:after {
  opacity: .5;
} */
.dv-day-of-week:active .dv-day-of-week-check {
  opacity: .65;
}
#dv-days-of-week-micro {
	margin-top: 1rem;
  color: #777;
  font-size: 13px;
}
#dv-days-of-week-micro h4 {
	display: none;
	margin-bottom: .5rem;
	font-size: 15px;
	font-weight: bold;
}
#dv-days-of-week-micro p {
	margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
	.dv-day-of-week {
		font-size: 14px;
	}
}
@media screen and (min-width: 1200px) {
	#dv-days-of-week-micro {
		position: absolute;
		top: 0;
		right: -250px;
		width: 220px;
		margin-top: 0;
	}
	#dv-days-of-week-micro h4 {
		display: block;
	}
}